In [30]:
import pandas as pd

In [60]:
df = pd.read_csv('../dist_global_avg.csv')

In [62]:
sample_submission  = pd.read_csv('../WC_input/sample_submission.csv')

In [63]:
df

,0,1,2,3,4,5,6,7,8,9,...,5337,5338,5339,5340,5341,5342,5343,5344,5345,5346
0,0.000245,1.301011,1.346834,1.429466,1.338387,1.394194,1.407308,1.400877,1.344027,1.296220,...,1.285526,1.310101,1.333959,1.458637,1.376790,1.369447,1.447985,1.377425,1.304651,1.391428
1,1.301011,0.000346,1.405703,1.235841,1.449009,1.395326,1.392000,1.385344,1.362445,1.270521,...,1.318262,1.234395,1.365381,1.387941,1.330185,1.472262,1.457337,1.408545,1.368038,1.398835
2,1.346834,1.405703,0.001079,1.243659,1.327545,1.351448,1.350103,1.382505,1.377236,1.417188,...,1.348266,1.380284,1.383299,1.302886,1.330516,1.308516,1.344271,1.299369,1.320701,1.342211
3,1.429466,1.235841,1.243659,0.001241,1.498292,1.425249,1.394169,1.342998,1.329272,1.296172,...,1.429340,1.280147,1.355492,1.362662,1.316638,1.428099,1.355567,1.309847,1.302229,1.364813
4,1.338387,1.449009,1.327545,1.498292,0.000691,1.422757,1.344475,1.334483,1.387344,1.442305,...,1.351743,1.356152,1.415975,1.449095,1.387152,1.335277,1.459730,1.340502,1.397037,1.374324
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5342,1.369447,1.472262,1.308516,1.428099,1.335277,1.315868,1.328816,1.369591,1.396656,1.344488,...,1.324586,1.374035,1.343771,1.417828,1.367341,0.000733,1.411246,1.395088,1.360179,1.438054
5343,1.447985,1.457337,1.344271,1.355567,1.459730,1.357594,1.361504,1.399750,1.403747,1.479788,...,1.438778,1.418075,1.385789,1.235793,1.393883,1.411246,0.000001,1.392617,1.393255,1.401993
5344,1.377425,1.408545,1.299369,1.309847,1.340502,1.383974,1.390692,1.271456,1.403864,1.381487,...,1.369003,1.385245,1.398325,1.320248,1.191235,1.395088,1.392617,0.000423,1.383125,1.276822
5345,1.304651,1.368038,1.320701,1.302229,1.397037,1.324471,1.348641,1.356658,1.270065,1.254238,...,1.484795,1.353087,1.409889,1.394658,1.410398,1.360179,1.393255,1.383125,0.000691,1.365684
5346,1.391428,1.398835,1.342211,1.364813,1.374324,1.358418,1.321592,1.377292,1.273198,1.460502,...,1.406313,1.445280,1.484315,1.408856,1.354756,1.438054,1.401993,1.276822,1.365684,0.000245

In [67]:
(4532 + 808) / 82

65.1219512195122

In [66]:
4532 + 808

5340

In [69]:
5340 / 60

89.0

In [32]:
import sys
sys.executable

'C:\\Users\\pschwarz\\AppData\\Local\\Continuum\\anaconda3\\envs\\torch\\python.exe'

In [33]:
def load_labels():
    dtypes = {'id': 'int', 'name': 'str'}
    label = pd.read_csv('../WC_input/label.csv', dtype=dtypes)
    labelName = label['name'].tolist()
    dict_label = {}
    id = 0
    for name in labelName:
        if name == '-1':
            dict_label[name] = 2233 * 2
            continue
        dict_label[name] = id
        id += 1
    return dict_label

In [34]:
load_labels()['-1']

4466

In [35]:
type(load_labels()['3583'])

int

In [37]:
dtypes = {'id': 'int', 'name': 'str'}
label = pd.read_csv('../WC_input/label.csv', dtype=dtypes)
labelName = label['name'].tolist()
dict_label = {}
id = 0
for name in labelName:
    if name == '-1':
        dict_label[name] = 2233 * 2
        continue
    dict_label[name] = id
    id += 1

In [39]:
label.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4539 entries, 0 to 4538
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      4539 non-null   int32
 1   name    4539 non-null   object
dtypes: int32(1), object(1)
memory usage: 53.3+ KB

In [41]:
train = pd.read_csv('../prep/train.csv')

In [50]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4539 entries, 0 to 4538
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Image   4539 non-null   object
 1   Id      4539 non-null   object
dtypes: object(2)
memory usage: 71.0+ KB

In [56]:
i =2
train_split_2 = pd.read_csv(f'valid_split_{i}.csv', dtype='object')

In [57]:
train_split_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 908 entries, 0 to 907
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Image   908 non-null    object
 1   Id      908 non-null    object
dtypes: object(2)
memory usage: 14.3+ KB

In [59]:
train_split_2.loc[3].Id

'2926'